.nav{
    height: 95px;
    background-color: rgba(82, 2, 2, 0.719);
}
.nav a{
     text-decoration: none;
     color: rgb(255, 255, 255);
     padding-right: 20px;
     font-weight:500;
}
.nav a:hover{
    color: rgb(255, 171, 60);
}
