.login{
    margin-top: 70px;
    margin-bottom: 132px;
}
.login input{
    width: 400px;
    padding: 10px;
    border: 2px solid rgb(1, 173, 1);
}
.login button{
    padding: 10px 50px;
    border: 2px solid rgb(1, 173, 1);
    color: rgb(1, 173, 1);
    background-color: white;
}
.login button:hover{
    border: 2px solid rgb(1, 173, 1);
    color: white;
    background-color: rgb(1, 173, 1);
}
.google-icon{
    height: 48px;
    border: 2px solid rgb(1, 173, 1);
    margin-left: 20px;
    border-radius: 5px;
}
.google-icon:hover{
    border: 2px solid black;
}